<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" routerLink="/profile">Github Search</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li ><a routerLink="/profile">Home</a></li>
             <li class="active"><a routerLink="/readmore">Read More</a></li>
            </ul>
          
          </div>
          
        </div>
      </nav>
      <div class="container">
          <div class="jumbotron">
              <p>
                  This a website where you can get repositories of a partcicular person
              </p>
          </div>
      </div>