
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" RouterLink="/profile">Github Search</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/profile">Home</a></li>
         <li><a routerLink="/readmore">Read More</a></li>
        </ul>
      </div>
     
    </div>
</nav>

<div class="container">
        <input style="margin-bottom:5%" [(ngModel)]="user" name="user" (keyup)='findPro()' class="form-control mr-sm-2" type="search" placeholder="Enter a github username" aria-label="Search">
</div>
        
<div *ngIf="profile" >
        <div class="container" >
                    <div class="row" style="margin-bottom:5%" >
                            <div class="col-md-6" >
                                <img src="{{profile.avatar_url}}" width=70% class="img-circle img-responsive">
                            </div>
                            <div class="col-md-6" style="background-color: white">
                                <div>
                                        <ul class="list-group">
                                                <li class="list-group-item"><b>Username: </b> {{profile.login}}</li>
                                                <li class="list-group-item"><b>Location: </b> {{profile.location}}</li>
                                                <li class="list-group-item"><b>E-Mail: </b> {{profile.email}}</li>
                                                <li class="list-group-item"><b>Blog Link: </b> {{profile.blog}}</li>
                                                <li class="list-group-item"><b>Member Since: </b> {{profile.created_at|date}} days ago</li>
                                        </ul>
                                </div>

                               <span class="p-a-05 bg-info text-md-center"> {{profile.public_repos}} Public Repos </span>
                               <span class="p-a-05 bg-primary m-t-1 text-md-center"> {{profile.public_gists}} Public Gists </span>
                               <span class="p-a-05 bg-danger m-t-1 text-md-center"> {{profile.followers}} Followers </span>
                               <span class="p-a-05 bg-inverse m-t-1 text-md-center"> {{profile.following}} Followings </span>
                               <a class="btn btn-sm btn-outline-primary btn-block m-t-1" href="{{profile.html_url}}" target="_blank">View Profile</a>

                            </div>
                    </div>
            </div>
                
            <div id="main">
                    <div class="panel panel-default container">
                            <div class="panel-heading">
                                <h3 class="panel-title">User Repos</h3>
                            </div>
                            <div class="panel-body">
                                <div *ngFor="let repo of repos">
                                      <div class="row">
                                        <div class="col-md-9">
                                            <h4><a target="_blank" href="{{repo.html_url}}">{{repo.name}}</a></h4> <a class="hover" (click)="readmeFun(repo.name)"> Readme </a>
                                            <p>{{repo.description}}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="label label-default">{{repo.watchers}} Watchers</span>
                                            <span class="label label-primary">{{repo.forks}} Forks</span>
                                            <span class="label label-primary">{{repo.stargazers_count}} Stars</span>
                                        </div>  
                                      </div>
                                      <hr>
                                </div>
                            </div>
                    </div>   
            </div>
                      
</div>
